<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/aboutus.css">
    <script src="https://kit.fontawesome.com/0df6055897.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <!-- Nav Bar -->
    
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a href="" class="navbar-brand hover">LW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link hover">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link hover">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link hover">Signup</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link hover">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="px-4 pt-5 text-center border-bottom bg-dark">
        <h1 class="display-4 fw-bold hero-white-text">About Us</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4 hero-white-text">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="/login"><div class="btn btn-warning btn-lg px-4 me-sm-3">Login</div></a>
            <a href="/signup"><div class="btn btn-outline-warning btn-lg px-4 me-sm-3">Signup</div></a>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <img src="images/lwhome.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
          </div>
        </div>
    </div>

    <!-- Team -->
    <section class="team text-center py-5">
        <div class="container">
          <div class="header my-4">
            <h1>Meet our Team </h1>
            <p class="text-muted">Meet and Greet our Team Members</p>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="img-block mb-5">
                <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                <div class="content mt-2">
                  <h4>Zain Knob</h4>
                  <p class="text-muted">Mechanical Engineer</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="img-block mb-5">
                  <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                  <div class="content mt-2">
                    <h4>Zain Knob</h4>
                    <p class="text-muted">Mechanical Engineer</p>
                  </div>
                </div>
              </div>
            <div class="col-md-6 col-lg-4">
              <div class="img-block mb-5">
                <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                <div class="content mt-2">
                  <h4>Syndia Lee</h4>
                  <p class="text-muted">Software Engineer</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mx-auto">
              <div class="img-block mb-5">
                <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                <div class="content mt-2">
                  <h4>Noel Flantier</h4>
                  <p class="text-muted">Joomla Specialist</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mx-auto">
              <div class="img-block mb-5">
                <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                <div class="content mt-2">
                  <h4>Bobby Doe</h4>
                  <p class="text-muted">Street Artist</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <footer id="footer">
        <i class="footer-icons fa-brands fa-twitter"></i>
        <i class="footer-icons fa-brands fa-facebook-f"></i>
        <i class="footer-icons fa-brands fa-instagram"></i>
        <i class="footer-icons fa-solid fa-envelope"></i>
        <p class ="cr-footer">© Copyright 2022 LoadWatch</p>
    </footer>
      
</body>
</html>